<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/basic/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/backstage.css"/>
		<script src="__PUBLIC__/static/basic/bootstrap.min.js" ></script>
		<script src="__PUBLIC__/static/basic/jquery-3.2.1.min.js" ></script>
		<title></title>
	</head>
	<body>
		{include file="nav"}
		<div class="container-fluid">	
		    <div class="header">
			 		签到的格言
			</div>
			<div class="row">
				<div class="col-md-2">
					
				</div>
				<div class="col-md-9">
					<form action="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/Add/save_three" enctype="multipart/form-data" method="post"> 
				    <input type="text" name="text" class="form-control" placeholder="请输入格言" />
					<input type="submit" class="btn btn-primary tj"   value="添加"/> 
				</form>
				
				<form action="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/Add/del_index" method="POST">
				<table class="table">
				 	<tr>
			            <th>签到格言</th>
			            <th><input class="btn btn-danger" type="submit" name="delete" value="删除" /></th>  
			        </tr>
				 	{foreach $qd_text as $value}
			        <tr>
			       <td ><div>{$value.text}</div></td>
			       <td><input type="checkbox" name="del_index[]" value="{$value.id}" style="text-align: center;"></td>
			        </tr>   
			        {/foreach}
		         </table>
		       </form>
				</div>	
			</div>
	    </div>		
	<body>
</html>
<style type="text/css">
.header{
  	text-align: center;
  	font-size: 20px;
  }
 form:nth-child(1){
 	margin-bottom: 180px;
    margin-top: 80px;
 }
 .tj{
  	float: right;
	margin-top: 27px;
  }
   th:nth-child(1){
   	width: 830px;
   	text-align: center;
   }
   td:nth-child(1){
   	width: 830px;
   	text-align: center;
   }
   th:nth-child(2){
  	text-align: center;
  }
   td:nth-child(2){
   	text-align: center;
   }
</style>