
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/nav.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/slt/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/slt/iconfont_two.css"/>
<nav >
		<div class="container1">
			<i class="iconfont icon-leijishufuwuxx logo"></i><span>Backstage</span>
            <ul>
            	<li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/slide.html"><i class="iconfont icon-huandengpian two"></i> 添加幻灯片的图片</a></li>
                <li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/picture.html"><i class="iconfont icon-tupian two"></i> 签到页面图片和格言</a></li>
                <li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/index.html"><i class="iconfont icon-yuyan1 two"></i> 浏览</a></li>
                
                
                <!--<li><a href="{:url('slide')}"><i class="iconfont icon-huandengpian two"></i> 幻灯片</a></li>
                <li><a href="{:url('picture')}"><i class="iconfont icon-tupian two"></i> 图片</a></li>
                <li><a href="{:url('index')}"><i class="iconfont icon-yuyan1 two"></i> 格言</a></li>-->
                
            </ul>
       </div>
</nav>  