
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/nav.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/slt/iconfont.css"/>

<nav >
		<div class="container1">
			<i class="iconfont icon-houtaifuwu logo"></i><span>Backstage</span>
            <ul>
            	<li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/add.html"><i class="iconfont icon-jia two"></i> 添加幻灯片的图片</a></li>
                <li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/sign.html"><i class="iconfont icon-jia two"></i> 签到页面图片和格言</a></li>
                <li><a href="https://www.xiaowailian.com/xwl_ht/public/index.php?s=/index/add/index.html"><i class="iconfont icon-chakan two"></i> 浏览</a></li>
                
            </ul>
       </div>
</nav>  